<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="About" value="The poject Personal Finances is a personal initiative from developer to demonstrate the use of concepts from arquithecture and software development, like OOP, SOLID, EntityFramework, LINQ, Repositories, HttpRequest, WebAPI, Recursivity, Extension Methods and Windows Forms. With this software, you can controll the balance of your accounts by day, week, month and year, with managing of yours bills to pay and bills to receive.

Eduardo Vieira de Camargo Bisneto is a brazilian senior system analyst and programmer certified by MCPS and ITIL with experience in systems from different market segments like loyalty, stock exchange, financial services, labor accountability, public services at health and educaction field. 

The developer have experience with HTML5, CSS3, Javascript, Bootstrap, C#, Windows Forms, Windows Services, SQL Server, T-SQL, DocumentDB, ADO, EntityFramework, LINQ, Repositories, OOP, SOLID, MVC5, Web Services, WCF Services, WebAPI, Azure "/>
    <add key="Host" value="http://localhost:54380/"/>
    <!--<add key="Host" value="http://localhost:8093/"/>-->
  </appSettings>
  <connectionStrings>
    <add name="PersonalFinancesConnectionstring" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PersonalFinancesDatabase" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>